body {
    background-color: rgb(253, 244, 253);
}

#presentacion {
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(assets/pngtree-chemistry-abstract-molecular-structure-molecular-link-blue-image_327089.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-1 {
    background-image: url(assets/Clon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, 1);
}

#proyecto-2 {
    background-image: url(assets/Portafolio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-3 {
    background-image: url(assets/Biodigestor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  